matplotlib
mmcv
multiprocess
ncurses
networkx
numpy
opencv-python
openssl
packaging
pandas
pathos
pathspec
pillow
python
pyyaml
scikit-image
scikit-learn
scipy
setuptools
shapely
timm
torch
torchaudio
torchvision
tqdm